<br>
<br>
<div class="row">
    <div class="medium-6 medium-centered large-4 large-centered columns">

        <form>
            <div class="row column newuser-form">
              <h1>Menu</h1>
              <ul class="menu vertical">
                <li><a href=javascript:void(0) [routerLink]="['CreateVenue']">Create a New Venue</a></li>
                <li><a href=javascript:void(0) [routerLink]="['ExistingVenue']">Add an existing Venue</a></li>
              </ul>
            </div>
        </form>
    </div>
</div>
