<br>
<br>
<div class="row">
    <div class="medium-6 medium-centered large-4 large-centered columns">

        <form>
            <div class="row column log-in-form">
                <h4 class="text-center">Sound check!!</h4>
                <label>Username
                    <input type="text" placeholder="username">
                </label>
                <label>Password
                    <input type="text" placeholder="Password">
                </label>
                <p><a type="submit" class="button expanded">Log In</a></p>
                <p class="text-center"><a href=javascript:void(0) (click)="goToNewUser()">Need an account?</a></p>
            </div>
        </form>

    </div>
</div>