<br>
<br>
<div class="row">
    <div class="medium-6 medium-centered large-4 large-centered columns">

        <form>
            <div class="row column log-in-form">
                <h4 class="text-center">Sound Check!!</h4>
                <label>Email Address
                    <input type="text"
                           [(ngModel)]="email"
                           placeholder="Email">
                </label>
                <label>Password
                    <input type="password"
                           [(ngModel)]="password"
                           placeholder="Password">
                </label>
                <p><a type="submit"
                      class="button expanded"
                      (click)="login()"
                        >Log In
                    </a>
                </p>
                <p class="text-center"><a href=javascript:void(0) [routerLink]="['NewUser']">Need an account?</a></p>
            </div>
        </form>

    </div>
</div>
