
<h2 class="text-center">Sound Check!!</h2>

<div id="logincontainer">
    <paper-material is="custom-style">
        <form id="loginform">
            <fieldset name="email">
                <paper-input label="Email Address" type="email" name="email" id="email" placeholder="Email" [(ngModel)]="email"></paper-input>
            </fieldset>

            <fieldset name="password">
                <paper-input label="Password" type="password" name="password"  id="password" placeholder="Password" [(ngModel)]="password"></paper-input>
            </fieldset>

            <fieldset>
                <paper-button raised (click)="login()">Log In</paper-button>
            </fieldset>
            <p class="text-center"><a href=javascript:void(0) [routerLink]="['NewUser']">Need an account?</a></p>
            <p class="text-center"><a href=javascript:void(0) [routerLink]="['ForgotPassword']">Forgot password? (coming soon)</a></p>
        </form>
    </paper-material>
</div>