<br>
<br>
<div class="row">
    <div class="medium-6 medium-centered large-4 large-centered columns">

        <form>
            <div class="row column newuser-form">
              <h1>Band Manager Dashboard</h1>
              <ul class="menu vertical">
                <li><a href=javascript:void(0) [routerLink]="['CreateBand']">Create a New Band</a></li>
                <li>Display a list of all bands being managed by this manager here!</li>
              </ul>
            </div>
        </form>
    </div>
</div>
