h2 {
    padding: 2%;
}

a {
    text-decoration: none;
}

form {
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0px 0 5px rgb(134, 178, 203);
}

#loginform fieldset {
    border: none;
    margin-top: 10px;
}

paper-material {
    box-shadow: none;
    margin-left:20vw;
    margin-right:20vw;
}

paper-button {
    width: 100%;
    height: 35px;
    background: var(--primary-color);
    color: var(--dark-theme-text-color);
}

paper-fab {

    background: #b71c1c;
    float:right;
    margin-top:20px;
}
