h2 {
    padding: 2%;
}

h3 {
    text-align: center;
}

a {
    text-decoration: none;
}

img {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

form {
    padding: 5px;
    border-radius: 2px;
    box-shadow: 0px 0 5px rgb(134, 178, 203);
}

#loginform fieldset {
    border: none;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px:
}

paper-material {
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

paper-button {
    width: 100%;
    height: 35px;
    background: var(--primary-color);
    color: var(--dark-theme-text-color);
}