<paper-material id="addVenue" elevation="1">
    <h3>Create a New Venue</h3>
    <form>
    <paper-input label="Venue Name" [(ngModel)]="model.venueName" required></paper-input>
    <paper-input label="Address" [(ngModel)]="model.address" required></paper-input>
    <paper-input label="City" style="width:34%" [(ngModel)]="model.city" required></paper-input>
    <paper-input label="State" style="width:35%" [(ngModel)]="model.state" required></paper-input>
    <paper-input label="Zip Code" style="width:34%" [(ngModel)]="model.zip" required></paper-input>
    <!--TODO: date range-->
    <!--    <paper-input label="Dates Available" style="width:35%" type="date" [(ngModel)]="model.date"></paper-input>-->
    <paper-input label="Capacity" style="width:34%" [(ngModel)]="model.capacity"></paper-input>
    <!--Don't bands charge the hourly rate?-->
    <!--    <paper-input label="Hourly Rate" style="width:35%" [(ngModel)]="model.rate"></paper-input>-->
    <p>&nbsp;<p>
    <paper-button raised (click)="createVenue()">Create Venue</paper-button>
    </form>
</paper-material>
