<paper-material elevation="1">
    <h3>About Suggestions</h3>
    <div id="suggestionInfo">
        <p style="text-align: left"><strong>Street Corner to Rock Star's</strong>
            Suggested Bands feature matches the best bands
            for your venues. From the <strong>Venue Settings</strong> page, update your venue's criteria to identify matching bands.</p>
    </div>
</paper-material>

<paper-material elevation="1">
    <h3>My Venues</h3>
    <paper-material
        *ngFor="let venue of venues"
        elevation="2">
        <div style="margin-left:20px; padding-bottom: 10px; padding-top: 10px">

            <p><strong>{{venue.venueName}}</strong></p>
            <p>{{venue.address}}</p>
            <p>{{venue.city}}, {{venue.state}}  {{venue.zip}}</p>
            <p *ngIf="venue.capacity">Capacity:  {{venue.capacity}}</p>
            <br>
            <p><strong>Suggested Bands</strong></p>
            <paper-item *ngFor="let band of venue.bands">{{band.bandName}}
              <br>Manager's Name:  {{band.bandManagerName || 'No Manager'}}<br>
              Manager's Phone#:  {{band.bandManagerPhone || 'No Phone Number'}}<br>
              Manager's Email:  {{band.bandManagerEmail || 'No Email Provided'}}<br><br></paper-item>
            <p *ngIf="venue.bands.length < 1">We're sorry, but there are no bands available that meet your venue's criteria.</p>
        </div>
    </paper-material>
</paper-material>
