<paper-material elevation="1">
<h3 >User Information</h3>
<div id="userInfo">
    <p>Name:  {{user.firstName}} {{user.lastName}}</p>
    <p>Email Address:  {{user.email}}</p>
</div>
</paper-material>



<paper-material elevation="1">
    <h3>My Venues</h3>
    <paper-material
        *ngFor="let venue of venues"
        elevation="2">
        <div style="margin-left:20px; padding-bottom: 10px; padding-top: 10px">
            <h4>Venue Information</h4>
            <p><strong>{{venue.venueName}}</strong></p>
            <p>{{venue.address}}</p>
            <p>{{venue.city}}, {{venue.state}}  {{venue.zip}}</p>
            <p *ngIf="venue.capacity">Capacity:  {{venue.capacity}} persons</p>
            <br>
            <h4>Venue Criteria</h4>
            <paper-dropdown-menu label="Genre">
                <paper-listbox class="dropdown-content" selected={{getGenreViewIndex(venue)}}>
                    <paper-item *ngFor="let genre of availableGenre" (click)="setVenueGenreCriteria(venue, genre)">{{genre}}</paper-item>
                </paper-listbox>
            </paper-dropdown-menu>

        </div>
    </paper-material>
</paper-material>

    <create-venue [venues]="venues"></create-venue>
