<br>
<br>
<div class="row">
    <div class="medium-6 large-4  columns">

        <form>
            <div class="row column bandFilter-form">
              <!-- <h1>Find a Band</h1> -->
              <ul class="menu vertical">
                <!-- <h4>Search for bands that meet your criteria</h4> -->
                <form>
                    <div class="row column findband-form">
                        <h4 class="text-center">Filter Bands</h4>
                        <label>Primary Genre Desired
                          <select (change)="selectGenre($event.target.value, 0)">
                              <option value=""></option>
                              <option  *ngFor="let venueGenre of genre" [value]="venueGenre">{{venueGenre}}</option>
                          </select>

                        </label>
                        <label>Second Genre Desired
                          <select (change)="selectGenre($event.target.value, 1)">
                              <option value=""></option>
                              <option *ngFor="let venueGenre of genre2" [value]="venueGenre">{{venueGenre}}</option>
                          </select>
                        </label>
                        <label>Third Genre Desired
                          <select (change)="selectGenre($event.target.value, 2)">
                              <option value=""></option>
                              <option *ngFor="let venueGenre of genre3" [value]="venueGenre">{{venueGenre}}</option>
                          </select>
                        </label>
                        <label>Max Hourly Rate Willing to Pay (US Dollars)
                            <input (change)="changeRate($event.target.value)" type="number" >
                            <!-- <input type="text" [(ngModel)]="model.rate" required> -->
                        </label>
                        <!-- <label>Date wanted
                            <input type="text" [(ngModel)]="model.date" required>
                        </label> -->
                        <br>
                        <!-- <p><a type="submit" class="button expanded" (click)="findBands()">Submit</a></p> -->
                    </div>
                </form>
                <table class="hover"><caption>Available Bands</caption>
                  <thead>
                    <tr>
                      <th>Band Name</th>
                      <th>Address</th>
                      <th>City</th>
                      <th>State</th>
                      <th>Zip</th>
                      <!-- <th>Available Date</th> -->
                      <th>Website</th>
                      <th>Hourly Rate</th>
                      <th>Primary Genre</th>
                      <th>Second Genre</th>
                      <th>Third Genre</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let band of bands | custom_json">

                        <th *ngIf="band.value != NULL">{{band.value.bandName}}</th>
                        <th *ngIf="band.value != NULL">{{band.value.bandAddress}}</th>
                        <th *ngIf="band.value != NULL">{{band.value.bandCity}}</th>
                        <th *ngIf="band.value != NULL">{{band.value.bandState}}</th>
                        <th *ngIf="band.value != NULL">{{band.value.bandZip}}</th>

                        <th *ngIf="band.value != NULL">{{band.value.bandWebsite}}</th>
                        <th *ngIf="band.value != NULL">{{band.value.bandPayRate}}</th>
                        <th *ngIf="band.value != NULL">{{band.value.bandGenre1}}</th>
                        <th *ngIf="band.value != NULL">{{band.value.bandGenre2}}</th>
                        <th *ngIf="band.value != NULL">{{band.value.bandGenre3}}</th>

                    </tr>
                  </tbody>
                </table>
              </ul>
            </div>
        </form>
    </div>
</div>
