<br>
<br>
<div class="row">
    <div class="medium-6 medium-centered large-4 large-centered columns">

        <form>
            <div class="row column forgotPassword-form">
                <h4 class="text-center">Password Reset Comming Soon</h4>
                <p>A password reset link will be sent to you.</p>

                <label>E-mail
                    <input type="text"  required>
                </label>


                <br>
                <p> <!--  <a type="submit" class="button expanded" (click)="createUser()"> -->
                  Submit <!-- </a>   -->
                </p>
            </div>
        </form>
    </div>
</div>
