<div class="off-canvas-wrapper">
    <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

        <div class="off-canvas position-left reveal-for-large" id="side-nav" data-off-canvas data-position="left">
            <div class="row column">
                <br>
                <img src="../../../icons/app4.png" width="100">
            </div>

            <div class="menu menu-bar vertical five-up">
                <a class="item">
                    <i class="fi-home size-36"></i>
                    <label>Create New Venue</label>
                </a>

                <a class="item">
                    <i class="fi-home size-36"></i>
                    <label>Book a Band</label>
                </a>

                <a class="item">
                    <i class="fi-home size-36"></i>
                    <label>Add Another Manager</label>
                </a>

                <a class="item">
                    <i class="fi-home size-36"></i>
                    <label>Admin Tools</label>
                </a>

                <a class="item">
                    <i class="fi-home size-36"></i>
                    <label>Band Manager Tools</label>
                </a>

                <a class="item">
                    <i class="fi-home size-36"></i>
                    <label>Account Settings</label>
                </a>

                <a class="item">
                    <i class="fi-home size-36"></i>
                    <label>Log Out</label>
                </a>
            </div>


        </div>

        <div class="off-canvas-content" data-off-canvas-content>
            <div class="title-bar hide-for-large">
                <div class="title-bar-left">
                    <button class="menu-icon" type="button" data-open="my-info"></button>
                    <span class="title-bar-title">FSC2RS</span>
                </div>
            </div>
            <div class="callout primary">
                <div class="row column">
                    <h3>Unified Dashboard (later we will only display tools based on user roles)</h3>
                </div>
            </div>
        </div>
    </div>
</div>
