<br>
<br>
<div class="row">
    <div class="medium-8 medium-centered large-8 large-centered columns">
        <form>
            <div class="row column existing_venue-form">
              <table class="hover">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Date</th>
                    <th>Capacity</th>
                    <th>Rate</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let venue of venues | custom_json">

                      <th *ngIf="venue.value != NULL">{{venue.value.venueName}}</th>
                      <th *ngIf="venue.value != NULL">{{venue.value.address}}</th>
                      <th *ngIf="venue.value != NULL">{{venue.value.city}}</th>
                      <th *ngIf="venue.value != NULL">{{venue.value.state}}</th>
                      <th *ngIf="venue.value != NULL">{{venue.value.zip}}</th>
                      <th *ngIf="venue.value != NULL">{{venue.value.date}}</th>
                      <th *ngIf="venue.value != NULL">{{venue.value.capacity}}</th>
                      <th *ngIf="venue.value != NULL">{{venue.value.rate}}</th>

                  </tr>
                </tbody>
              </table>
              <!--h1 *ngFor="let hero of heros">
                //{{hero}}
              </h1-->
              <a type="button" class="button expanded" (click)="getVenues()">Get Venues</a>
            </div>
        </form>
    </div>
</div>
