<paper-material id="createBand" elevation="1">
    <h3>Create a New Band</h3>

    <form>
     <paper-input label="Band Name" [(ngModel)]="model.bandName" required></paper-input>
     <paper-input label="Address" [(ngModel)]="model.bandAddress" required></paper-input>
    <paper-input label="City" style="width:34%" [(ngModel)]="model.bandCity" required></paper-input>
    <paper-input label="State" style="width:35%" [(ngModel)]="model.bandState" required></paper-input>
    <paper-input label="Zip Code" style="width:34%" [(ngModel)]="model.bandZip" required></paper-input>
    <paper-input label="Website" style="width:34%" [(ngModel)]="model.bandWebsite"></paper-input>


    <paper-dropdown-menu style="margin-left: 0.5cm; width:140px" label="Primary Genre" (iron-select)="genreChange($event.detail.item.value, 0)">
        <paper-listbox  required  class="dropdown-content" >
                    <paper-item  *ngFor="let bandGenre of Genre" [value]="bandGenre">{{bandGenre}}</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>

    <paper-dropdown-menu style="margin-left: 0.5cm; width:140px" label="Second Genre" (iron-select)="genreChange($event.detail.item.value, 1)">
        <paper-listbox  required class="dropdown-content" >
          <paper-item  *ngFor="let bandGenre of Genre" [value]="bandGenre">{{bandGenre}}</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>

      <paper-dropdown-menu style="margin-left: 0.5cm; width:140px" label="Third Genre" (iron-select)="genreChange($event.detail.item.value, 2)">
          <paper-listbox required class="dropdown-content" >
            <paper-item  *ngFor="let bandGenre of Genre" [value]="bandGenre">{{bandGenre}}</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>

          <paper-input label="Hourly Pay Rate (US dollars)" style="width:50%" [(ngModel)]="model.bandPayRate"></paper-input>
          <p style="margin-left: 0.5cm; margin-right: 0.5cm"><strong>Hint:</strong> <span style="font-style: italic; font-size: 12px">Although the Website, Genres, and Pay Rate are not required to create a band, without this information
            it will be more difficult for someone to find the desired band for their venue or event.</span></p>
        <paper-button style="margin:20px 0 0" raised (click)="createBand()">Create Band</paper-button>

    </form>
</paper-material>
