<paper-material id="createBand" elevation="1">
    <h3>Create Band</h3>
    <form>
     <paper-input label="Band Name" [(ngModel)]="model.bandName" required></paper-input>
     <paper-input label="Address" [(ngModel)]="model.bandAddress" required></paper-input>
    <paper-input label="City" style="width:34%" [(ngModel)]="model.bandCity" required></paper-input>
    <paper-input label="State" style="width:35%" [(ngModel)]="model.bandState" required></paper-input>
    <paper-input label="Zip Code" style="width:34%" [(ngModel)]="model.bandZip" required></paper-input>
    <paper-input label="Website" style="width:34%" [(ngModel)]="model.bandWebsite"></paper-input>
    <paper-input label="Hourly pay rate (US dollars)" style="width:34%" [(ngModel)]="model.bandPayRate"></paper-input>

    <paper-dropdown-menu label="Primary Genre">
        <paper-listbox [(ngModel)]="model.bandGenre1" required class="dropdown-content" selected="0">
                    <paper-item *ngFor="let bandGenre of Genre" [value]="bandGenre">{{bandGenre}}</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>

    <paper-dropdown-menu label="Second Genre" >
        <paper-listbox [(ngModel)]="model.bandGenre2" required class="dropdown-content" selected="0">

          <paper-item *ngFor="let bandGenre of Genre" [value]="bandGenre">{{bandGenre}}</paper-item>
        </paper-listbox>
      </paper-dropdown-menu>

      <paper-dropdown-menu label="Third Genre" >
          <paper-listbox [(ngModel)]="model.bandGenre3" required class="dropdown-content" selected="0">

            <paper-item *ngFor="let bandGenre of Genre" [value]="bandGenre">{{bandGenre}}</paper-item>
          </paper-listbox>
        </paper-dropdown-menu>
    <br>
    <paper-fab id="addBandButton" icon="icons:add" (click)="createBand()"></paper-fab>
    <paper-tooltip for="addBandButton" position="left" animation-delay="1">Create Band</paper-tooltip>
    </form>
</paper-material>
