<br>
<br>
<div class="row">
    <div class="medium-6 medium-centered large-4 large-centered columns">

        <form>
            <div class="row column newuser-form">
                <h4 class="text-center">New Account Signup</h4>
                <label>E-mail
                    <input type="text" [(ngModel)]="model.email" required>
                </label>
                <label>First Name
                    <input type="text" [(ngModel)]="model.firstName" required>
                </label>
                <label>Last Name
                    <input type="text" [(ngModel)]="model.lastName" required>
                </label>
              
                <label>Password
                    <input type="password" [(ngModel)]="model.password" required>
                </label>
                <br>
                <br>
                <p><a type="submit" class="button expanded" (click)="createUser()">Submit</a></p>
            </div>
        </form>
    </div>
</div>
