<br>
<br>
<div class="row">
    <div class="medium-6 medium-centered large-4 large-centered columns">

        <form>
            <div class="row column newuser-form">
                <h4 class="text-center">New Account Signup</h4>
                <label>First Name
                    <input type="text">
                </label>
                <label>Last Name
                    <input type="text">
                </label>
                <label>Username
                    <input type="text">
                </label>
                <label>Password
                    <input type="text">
                </label>
                <label>E-mail
                    <input type="text">
                </label>
                <label>Account Type
                    <select>
                        <option value="venue">Venue Manager</option>
                        <option value="band">Band Manager</option>
                    </select>
                </label>
                <br>
                <br>
                <p><a type="submit" class="button expanded">Submit</a></p>
            </div>
        </form>

    </div>
</div>