<br>
<br>
<div class="row">
    <div class="medium-6 medium-centered large-4 large-centered columns">

        <form>
            <div class="row column newuser-form">
              <h2>Admin Dashboard</h2>
        <p>Import a .csv file of bands</p>
<form><input type="text" name="urlToBandCSV" id="urlToBandCSV" placeholder="Dropbox URL of CSV File"/>
<button type="submit" class="button expanded" (click)="createManyBands()">Submit</button></form>

<!--a type="button" class="button expanded" (click)="delete()">Delete foo@bar.com</a-->
<p>&nbsp; </p>
        <p>Export a .csv file of the bands</p>

        <p>&nbsp; </p>
                <p>Delete a User by Email</p>
            </div>
        </form>
    </div>
</div>
