paper-material {
    background-color: #fff;
    width: 95%;
    margin: 25px auto;
    padding-bottom: 1px;
    position: relative;
}

h3 {
    padding: 10px;
}

#userInfo {
    margin-left:20px;
    padding-bottom: 10px;
}